.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
.header{
    padding-bottom: 700px;
    overflow: hidden;
    background-image: url('https://tse2.mm.bing.net/th?id=OIP.QkdIpv8U66zyKUVomhmfGQHaEg&pid=Api&P=0&h=180');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: brightness(0.6);
    margin: auto;
}
.header > h1{
    color: whitesmoke !important;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%
}